@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&family=ZCOOL+KuaiLe&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #B2E0D2;
}

main{
	width: 80%;
	height: 750px;
	margin-left: auto;
	margin-right: auto;
	background-color: #00b894;
}

header{
	width: 100%;
	height: 100px;
	background-color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Oswald', sans-serif;
}
#logo{
	margin-left: 10%;
}
footer{
	width: 100%;
	height: 50px;
	background-color: #071100; 
}
#apellido{
	float: left;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 49%;
	text-align: center;
}

#apellido a{
	color: #B2E0D2;
	text-decoration: none;
	font-size: 15px;
}
#logo2{
	float: left;
	padding-right: 13%;
	margin-left: 18px;
}
#logo2 img{
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
	margin: 2px;
}
section{
	width: 95%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #00b894;
}
#texto{
	width: 65%;
	height: 570px;
	float: left;
	margin-top: 10px;
	background-color: #008037;
	column-count: 2;
	column-gap: 40px;
	column-rule: 3px dashed #1dac90;
	border-radius: 30px;
		padding: 20px;
	box-shadow: 18px 15px 20px #306e3c;
}
#texto li, p{
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-size: 15px;
	color: #fff;
	line-height: 170%;
	text-align: justify;
	margin-left: 10%;
	margin-right: 5%;

}
#texto2{
	width: 30%;
	height: 580px;
	float: right;
	margin-top: 10px;
	background-color: rgba(244,244,244,0.40);
	border-color: #008037;
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	box-shadow: 10px 10px 15px #306e3c;
}
.nom{
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size: 30px;
	color: #5cd85d;
	padding-right: 13%;
}
.nom2{
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	color: #78b873;
	margin-bottom: 3%;
	font-size: 25px;
}
.foto{
	margin-left: 24%;
	margin-top: 30%;
}
.foto3{
	float: left;
	margin-top: 10px;
}
h3{
	margin-top: 5px;
}
.dos{
	padding-top: 50px;
}